{
  "openapi": "3.1.0",
  "info": {
    "title": "Sema — coherence-kernel plugin",
    "description": "The rented-mind door into the coherence-kernel body: grounded answers, frequency attunement, and full change-graph traceability. Served natively by the c-bootstrapped fkwu kernel running plugin/chatgpt-plugin.fk — no Python, no Node behind this API.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://sema.hati.earth",
      "description": "The live door: fkwu serving natively behind Cloudflare TLS on the Coherence-Network VPS (https://hati.earth/sema serves identically; http://localhost:8787 for a local run)"
    }
  ],
  "paths": {
    "/ask": {
      "get": {
        "operationId": "ask",
        "summary": "Ask the body: grounded cells, a frequency read with attunement, and trace links",
        "description": "Returns the body cells that ground the question (or an honest miss), the fear<->love frequency read with attunement for the answering voice, the stance (trust over fear judged, sovereignty, vitality), and trace links: receipt, per-cell change graph, line attribution.",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "The question, URL-encoded.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Grounded, attuned, traceable answer material.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AskResponse" }
              }
            }
          },
          "400": { "description": "Missing q parameter." }
        }
      }
    },
    "/trace": {
      "get": {
        "operationId": "trace",
        "summary": "The receipt in a link: a cell's change graph and attribution",
        "description": "For any path in the body, returns the links that guide exploration of the change graph: the living cell, every commit that shaped it, line-level attribution, and the dated receipts ledger.",
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "description": "Repo-relative path of a cell, e.g. ingest/judged-trust.fk",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Trace links for the cell.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/TraceResponse" }
              }
            }
          },
          "400": { "description": "Missing path parameter." }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "GroundedCell": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "path": { "type": "string" },
          "summary": { "type": "string" },
          "cell": { "type": "string", "description": "Link to the living source." },
          "change_graph": { "type": "string", "description": "Link to every commit that shaped this cell." },
          "attribution": { "type": "string", "description": "Link to line-level attribution (who, when)." }
        }
      },
      "AskResponse": {
        "type": "object",
        "properties": {
          "question": { "type": "string" },
          "frequency": {
            "type": "object",
            "properties": {
              "spectrum": { "type": "string", "description": "Intensity-weighted valence; positive is the love/coherence band, negative the fear band, 'unread' when no seed word carried a charge." },
              "fear_fraction": { "type": "string" },
              "band": { "type": "string", "enum": ["love", "fear", "neutral", "unread"] },
              "attune": { "type": "string", "description": "How the answering voice should meet this frequency." }
            }
          },
          "grounded": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/GroundedCell" }
          },
          "grounded_status": { "type": "string", "description": "grounded:hit or grounded:miss with the honest instruction either way." },
          "stance": {
            "type": "object",
            "properties": {
              "trust_over_fear": { "type": "string" },
              "sovereignty": { "type": "string" },
              "vitality": { "type": "string" }
            }
          },
          "trace": {
            "type": "object",
            "properties": {
              "receipt": { "type": "string" },
              "ledger": { "type": "string" },
              "guide": { "type": "string" }
            }
          },
          "honest_seam": { "type": "string" }
        }
      },
      "TraceResponse": {
        "type": "object",
        "properties": {
          "path": { "type": "string" },
          "cell": { "type": "string" },
          "change_graph": { "type": "string" },
          "attribution": { "type": "string" },
          "ledger": { "type": "string" },
          "guide": { "type": "string" }
        }
      }
    }
  }
}
